/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #030303;
    background-image: url(./google-bg.jpg);
    max-width: 100vw;
}

/* Centering the search box */
.gcse-search {
    text-align: center;
    margin-top: 50px;
}

/* Styling the buttons */
button {
    display: block;
    width: 300px;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: #60e760;
    color: #1a1616;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    
}
button, a{
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
    button {
        width: 100%;
    }
}
