* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b1a2a2;
    background-image: url(./wiki-bg-plan.avif);
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.heading img {
    max-width: 100%;
    height: auto;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input[type="search"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.material-symbols-outlined {
    font-size: 1.5rem;
    margin-left: -30px;
    color: #999;
    cursor: pointer;
}

.searchBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchBtn:hover {
    background-color: #0056b3;
}

.search_button {
    text-align: center;
    margin-top: 20px;
}

.search_button a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.search_button a:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
}

.result {
    margin-bottom: 20px;
}

.result h3 {
    font-size: 1.2rem;
    color: #333;
}

.result p {
    color: #666;
}

.result a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.result a:hover {
    text-decoration: underline;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.result {
    animation: fadeInUp 0.5s ease;
}
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .heading img {
        width: 100%;
    }

    .search-box input[type="search"] {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .search-box {
        flex-direction: column;
    }

    .search-box input[type="search"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .searchBtn {
        width: 100%;
    }

    .search_button a {
        margin: 5px;
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}
